@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border border-gray-300 rounded-lg px-4 py-2 
           focus:outline-none focus:ring-2 focus:ring-indigo-400 transition;
  }
}
